body {
  color: #222; }

a {
  color: #FF6347; }

p {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #FAFAFA; }
  .bg_dark .s_descr::after {
    background-color: #FAFAFA; }

.top_menu a:hover {
  color: #FF6347;
  background-color: rgba(255, 255, 255, 0.05); }
.top_menu a {
  letter-spacing: 4px; }

.top_text h1,
.top_text p {
  color: #FAFAFA; }
.top_text h1 {
  letter-spacing: 1px; }
.top_text p {
  letter-spacing: 4px; }

.s_descr {
  letter-spacing: 5px; }
  .s_descr::after {
    background-color: #222; }

section h3 {
  color: #888;
  letter-spacing: 3px; }

.s_about p:nth-child(even) {
  color: #FF6347; }

.main_footer {
  color: #888; }
