/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about_container div:last-child {
		margin-top: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		padding-top: 0;
		margin-bottom: 10px;
	}
	.resume_container .year {
		margin-bottom: 15px;
	}*/
	.contacts_container .cont_photo {
		margin-bottom: 35px;
		text-align: center;
	}
	.contacts_container .cont_list h2,
	.contacts_container p,
	.contacts_container ul,
	.contacts_container .social_wrap {
		text-align: center;
	}
	.contacts_container .cont_list {
		margin-left: 0;
	}
	.contacts_container .cont_list .social_wrap li {
		font-size: 1.2em;
		padding: 0 5px;
	}
	.main_form {
		margin: 10%;
	}

	#top_bar {
		padding: 15px;
	}
	#top_bar .logo {
		margin-left: 5px;
	}
	#top_bar .logo h1 {
		padding: 5px;
		margin: 0;
		font-size: 1em;
		text-transform: uppercase;
	}
	#top_bar .logo p {
		font-size: .4em;
		margin: 0;
		text-transform: uppercase;
	}

	.toggle_menu {
		top: 9px;
		right: 9px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
	}
	.top_wrapper .top_text p {
		font-size: 1em;
	}
	.top_wrapper .top_text .social_wrap {
		font-size: 1.1em;
	}
	.top_wrapper .top_text {
		/*
		margin-right: 20px;
		margin-left: 20px;
		*/
	}

	.main_form {
		margin: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}